*{
    margin:0;
    padding:0;
}

ul { 
    list-style-type: none;
    margin: 0;
    padding-right: 0;
    overflow: hidden;
    background-color: #3f5960;

}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) { 
    background-color: grey
}

.active {
    background-color: beige;
}

h1 { 
    color: white; 
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 25px;
}

body { 
    margin: 0; 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px; 
    color: white;
    line-height: 1.6; 
}

#showcase {
    background-image: url(oskarcyms2.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

#showcase h1 {
        font-size:50px;
        line-height: 1.2;

}

#showcase p{
    font-size: 20px;
}

#showcase .button {
    font-size: 18px;
    text-decoration: none;
    color:white; 
    background-color: #3f5960;
    padding: 10px 50px;
    border-radius: 10px;
    margin-top: 20px;
}

#showcase .button:hover {
    background-color:aliceblue;
    color:black;
}

#section-a {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding: 20px;

}
footer {
    text-align:center;
    padding:20px;
    background-color:#3f5960;
    color:white;
}
